@import url(https://fonts.googleapis.com/css?family=Poppins:900i);
* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #6699cc;
}

.container h1 {
    color: white;
    font-family: sans-serif;
    margin: 20px;
}

.registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: sans-serif;
    background-color: #154a68;
    padding: 20px;
}

.registration-form input,
.registration-form select,
.registration-form textarea {
    border: none;
    padding: 5px;
    margin-top: 10px;
    font-family: sans-serif;
}

.registration-form input:focus,
.registration-form textarea:focus {
    box-shadow: 3px 3px 10px rgb(228, 228, 228), -3px -3px 10px rgb(224, 224, 224);
}

.registration-form .submit {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    color: rgb(44, 44, 44);
    background-color: #ffffff;
    border-radius: 5px;
}

.registration-form .submit:hover {
    box-shadow: 3px 3px 6px rgb(255, 214, 176);
}

/*BUTTONS*/
body {
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.login-link {
    background: #6225E6;
}
.register-link {
    background: #e62558;
}

.login-link,
.register-link {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.login-link:focus,
.register-link:focus {
    outline: none;
}

.login-link:hover,
.register-link:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.login-link span:nth-child(2),
.register-link span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.login-link:hover  span:nth-child(2),
.register-link:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span {
    transform: skewX(15deg)
}

span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.login-link:hover path.three,
.register-link:hover path.three {
    -webkit-animation: color_anim 1s infinite 0.2s;
            animation: color_anim 1s infinite 0.2s;
}

.login-link:hover path.one,
.register-link:hover path.one {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
            animation: color_anim 1s infinite 0.6s;
}

.login-link:hover path.two,
.register-link:hover path.two {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
            animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@-webkit-keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

/*HOME-PAGE*/
.conatiner {
    width: 100%;
    height: 500px;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box {
    margin: 10px;
    width: 300px;
    height: 490px;
    text-align: center;
    border-radius: 3px;
    transition: 200ms ease-in-out;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.box:hover {
    margin-bottom: -10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.box h1 {
    color: #fff;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

.date h4 {
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.poster {
    width: 130px;
    height:130px;
    margin: 120px auto;
    position: relative;
    border-radius: 100px;
}
.poster h4 {
    top: 16px;
    color: #fff;
    position: relative;
    font-size: 80px;
    text-align: center;
    font-weight: 100;
}
.one {
    background: url('https://source.unsplash.com/900x920');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.two {
    background: url('https://source.unsplash.com/820x900');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.three {
    background: url('https://source.unsplash.com/500x500');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.five {
    background: url('https://source.unsplash.com/550x520');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.six {
    background: url('https://source.unsplash.com/660x630');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.seven {
    background: url('https://source.unsplash.com/700x770');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.eight {
    background: url('https://source.unsplash.com/880x820');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nine {
    background: url('https://source.unsplash.com/898x820');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ten {
    background: url('https://source.unsplash.com/8998x920');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.eleven {
    background: url('https://source.unsplash.com/898x960');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tlv {
    background: url('https://source.unsplash.com/999x888');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.thirteen {
    background: url('https://source.unsplash.com/1000x777');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ftn {
    background: url('https://source.unsplash.com/2000x777');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fith {
    background: url('https://source.unsplash.com/2000x1000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sith {
    background: url('https://source.unsplash.com/3000x1000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sevth {
    background: url('https://source.unsplash.com/9000x9000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* POSTER*/
.p1 {
    background: #2b5876;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px darkblue;
}

.p2 {
    background: #f857a6;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px #fa3380;
}

.p3 {
    background: #4776E6;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px lightblue;
}

.p4 {
    background: #1FA2FF;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px skyblue;
}


.p5 {
    background: #AA076B;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px purple;
}

.p6 {
    background: #DA22FF;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px violet;
}

.p7 {
    background: #02AAB0;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px lightgreen;
}
.p8 {
    background: #5433FF;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px lightblue;
}
.p9 {
    background: #2b5876;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fa3, #fa3380); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px #fa3380;
}

.p10 {
    background: #2b5876;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, deepskyblue, lightblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px darkblue;
}

.p11 {
    background: #F2994A;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px lightyellow;
}

.p12 {
    background: #A770EF;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px purple;
}

.p13 {
    background: #f4c4f3;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px pink;
}
.p14 {
    background: #00c3ff;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px olive;
}
.p15 {
    background: #5614B0;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD65C, #5614B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px olive;
}

.p16 {
    background: #fc00ff;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 20px olive;
}


/*  FOLLOW*/
.Follow {	  background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
    width: 50px;
    height: 50px;
    bottom: 9px;
    right: 20px;
    display:block;
    position:fixed;
    border-radius:50%;
    z-index:999;
    -webkit-animation:  rotation 10s infinite linear;
            animation:  rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

